*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    max-width: 1840px;
    padding: 0 75px;
    margin: 0 auto;
}

header{
  grid-column: 1 / span 3;
  grid-row: 1;
}

main{
  grid-column: 1 / span 3;
  grid-row: 2;
}

footer{
  grid-column: 1 / span 3;
  grid-row: 3;
}

header h1{
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 77px;
}

/* main section */

main{
  align-self: center;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scarecrow{
  max-width: 35rem;
  min-height: 80px;
}

/* text section */

.title{
  display: block;
  height: 190px;
  max-width: 586px;

  font-family: 'Space Mono';
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -0.035em;
  text-align: left;

}

.description{
  display: block;
  height: 108px;
  max-width: 381px;
 
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.035em;
  text-align: left;
  padding-top: 2rem;

}

.butt{
  display: block;
  margin-top: 2rem;
  height: 68px;
  width: 216px;
  border-radius: 0px;
  background: #333333;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Space Mono';
  outline: none;
  border: none;
  cursor: pointer;
}

h6{
  text-align: center;
  color:  #BDBDBD;
}

  @media (max-width: 375px){

    .container{
      display: flex;
      flex-direction: column;
    }

    header h1{
      padding-top: 3rem;
      padding-left: 0.2rem;
  }

  .image{
      padding-top: 3rem;
  }

  .scarecrow{
    max-width: 22rem;
    min-height: 80px;
  }

  .text{
    padding-top: 10px;
  }

  .title{
    width: 350px;
    height: 142;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0.035em;
    text-align: left;
  }

  .description{
    margin-top: -2rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.035em;
    text-align: left;
    margin-bottom: -3rem;
  }

  .butt{  }
 
    h6{
      margin-top: 2.2rem;
      text-align: center;
    }

  }
