*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    max-width: 1840px;
    padding: 0 75px;
    margin: 0 auto;
}

header h1{
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 77px;
}

/* main */
main{
    /* margin: 0 auto */
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.image{
    max-width: 539px;
    height: 447;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text{
  max-width: 586px;
  height: 566px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
  }
  
  p{
    max-width: 381px;
    height: 83px;
  }
  
  .description{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    padding-top: 36px;
    padding-bottom: 64px;
  }
  
  button{
    max-width: 216px;
    height: 68px;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
    border: none;
  
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
  }

/* footer */

footer h6{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    
    color: rgba(189, 189, 189, 1);
}

  @media (max-width: 375px){
      header h1{
          padding-top: 5rem;
          padding-left: 0.5rem;
      }

      .image{
          padding-top: 3rem;
      }

      .text{
        padding-top: 60px;
      }

      .title{
        width: 350px;
        height: 142;
        font-size: 48px;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: -0.035em;
        text-align: left;
      }

      .description{
        padding-top: 30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.035em;
        text-align: left;
      }

      footer h6{
        padding-bottom: 1rem;
      }
  }
